.panel-group h3 {
  font-size: 30px;

}

.panel-group h4 {
font-size: 30px;

}
  
  .panel-group {
    font-size: larger;
    text-align: justify;

  }

  .panel-group h2 {
    font-size: 40px;
    

  }
  .panel-group button {
    margin-top: 10px;
    background-color: hsl(96, 23%, 48%);
    color: wheat;
    border-radius: 1ch;
    padding: 6px;
    cursor: pointer;
    border: 3px solid #00000053;
  }
  
  .panel-group button:hover {
    background-color: wheat;
    color: #75975e;
  }
  
  .panel-group button:active {
    transform: translateY(2px);
  }

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  grid-auto-rows: 1fr;
  justify-content: center;
  grid-gap: 0.6rem;
  width: 100%;
  padding: 0.1rem;
}
@media (min-width: 640px) {
  .products-container {
    grid-template-columns: repeat(auto-fit, 12rem);
    grid-gap: 1rem;
    padding: 1rem;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  border: 0.4rem solid #00000053;
  border-radius: 0.7rem;
  padding: 0.8rem;
  transition: all 100ms ease-in-out;
}

.product input {
  display: none;
}

.product img {
  width: 4rem;
  height: 4rem;
  padding: 0.4rem;
  box-sizing: content-box;
  align-self: center;
  user-select: none;
}
@media (min-width: 640px) {
  .product img {
    padding: 1rem;
  }
}

.product:has(input[type="checkbox"]:checked) {
  background-color: #75975e;
  color: #fffafa;
}

@media (hover: hover) {
  .product:hover {
    border-color: #00000083;
  }
}

.product > div {
  display: flex;
  flex-direction: column;
}
