.panel-group h3 {
  font-size: 30px;

}

.panel-group h4 {
font-size: 30px;

}
  
  .panel-group {
    font-size: larger;
    text-align: justify;

  }

  .panel-group h2 {
    font-size: 40px;
    

  }
  .panel-group button {
    margin-top: 10px;
    background-color: hsl(96, 23%, 48%);
    color: wheat;
    border-radius: 1ch;
    padding: 6px;
    cursor: pointer;
    border: 3px solid #00000053;
  }
  
  .panel-group button:hover {
    background-color: wheat;
    color: #75975e;
  }
  
  .panel-group button:active {
    transform: translateY(2px);
  }

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  gap: 1rem;
  border: 0.4rem solid #00000053;
  border-radius: 0.7rem;
  padding: 0.8rem;
  transition: all 100ms ease-in-out;
}

.product input {
  display: none;
}

.product img {
  width: 4rem;
  height: 4rem;
  align-self: center;
  user-select: none;
}

.product:has(input[type="checkbox"]:checked) {
  background-color: #75975e;
  color: white;
}

.product:hover {
  border-color: #00000083;
}

.product > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.product > div > span + span::before {
  content: "•";
  margin: 0 0.5rem;
}
